## Get all Symbol Exchange

In [26]:
import sys
from pathlib import Path

import ccxt
import pandas as pd


# Add the parent directory to the system path
parent_dir = Path().resolve().parent
sys.path.append(str(parent_dir))
from utils.general import get_top_usdt_symbol_by_volume

In [27]:
def get_exchange_symbols(exchange_id):
    """
    Fetch all trading symbols for a given exchange.

    Args:
        exchange_id (str): The exchange ID (e.g., "binance", "bitget").

    Returns:
        list: A list of trading pair symbols (e.g., ["BTC/USDT", "ETH/USDT"]).
    """
    try:
        # Initialize the exchange
        exchange = getattr(ccxt, exchange_id)({'enableRateLimit': True})
        
        # Load markets
        markets = exchange.load_markets()
        
        # Extract symbols
        symbols = list(markets.keys())
        return symbols

    except Exception as e:
        print(f"Error fetching symbols for exchange {exchange_id}: {e}")
        return []

In [28]:
exchange_id = "binance"  # Replace with your desired exchange ID
symbols = get_exchange_symbols(exchange_id)

print(f"Total symbols on {exchange_id}: {len(symbols)}")
print("Sample symbols:", symbols[:10])  # Display the first 10 symbols

exchange_id = "bitget"  # Replace with your desired exchange ID
symbols = get_exchange_symbols(exchange_id)

print(f"Total symbols on {exchange_id}: {len(symbols)}")
print("Sample symbols:", symbols[:10])  # Display the first 10 symbols

Total symbols on binance: 3339
Sample symbols: ['ETH/BTC', 'LTC/BTC', 'BNB/BTC', 'NEO/BTC', 'QTUM/ETH', 'EOS/ETH', 'SNT/ETH', 'BNT/ETH', 'BCC/BTC', 'GAS/BTC']
Total symbols on bitget: 1238
Sample symbols: ['FTM/EUR', 'CATCH/USDT', 'LUMIA/USDT', 'GOAT/USDT', 'ENA/EUR', 'TON/EUR', 'SXRP/SUSDT', 'SHIB/EUR', 'WLD/EUR', 'DBR/USDT']

In [29]:
exchange_id = "binance"  # Replace with your desired exchange ID
top_symbols = get_top_usdt_symbol_by_volume(exchange_id, top_n=100)
binance_symbols = pd.DataFrame(top_symbols)
binance_symbols = binance_symbols.rename(columns={"volume_24h": f"volume_24h_{exchange_id}"})
binance_symbols = binance_symbols.rename(columns={"price": f"price_{exchange_id}"})
binance_symbols = binance_symbols.reset_index(drop=True)
binance_symbols.to_csv(f"/home/ubuntu/project/finance/cex-market-analysis/symbols/top_100_{exchange_id}.csv")

exchange_id = "bitget"  # Replace with your desired exchange ID
top_symbols = get_top_usdt_symbol_by_volume(exchange_id, top_n=100)
bitget_symbols = pd.DataFrame(top_symbols)
bitget_symbols = bitget_symbols.rename(columns={"volume_24h": f"volume_24h_{exchange_id}"})
bitget_symbols = bitget_symbols.rename(columns={"price": f"price_{exchange_id}"})
bitget_symbols = bitget_symbols.reset_index(drop=True)
bitget_symbols.to_csv(f"/home/ubuntu/project/finance/cex-market-analysis/symbols/top_100_{exchange_id}.csv")

In [30]:
## commun symbols
df = pd.merge(binance_symbols, bitget_symbols, on=['symbol'])
# df.head()

,symbol,volume_24h_binance,price_binance,volume_24h_bitget,price_bitget
0,BTC/USDT,1.988338e+09,96559.3900,6.639065e+08,96548.8200
1,ETH/USDT,1.147404e+09,3450.0100,5.127091e+08,3450.1500
2,XRP/USDT,1.064536e+09,2.4217,2.343935e+08,2.4215
3,USDC/USDT,9.320336e+08,1.0007,2.525278e+07,1.0008
4,SOL/USDT,6.545819e+08,206.4000,1.011155e+08,206.4000

In [31]:
def get_exchange_timeframes(exchange_id):
    """
    Get the list of available timeframes for a given exchange.

    Args:
        exchange_id (str): The exchange ID (e.g., "binance", "bitget").

    Returns:
        list: A list of available timeframes for the exchange.
    """
    try:
        # Initialize the exchange
        exchange = getattr(ccxt, exchange_id)({'enableRateLimit': True})

        # Check if the exchange supports timeframes
        if hasattr(exchange, 'timeframes') and exchange.timeframes:
            return list(exchange.timeframes.keys())
        else:
            return []
    except Exception as e:
        print(f"Error fetching timeframes for {exchange_id}: {e}")
        return []

# Example Usage
exchange_id = "bitget"  # Replace with your desired exchange ID
timeframes = get_exchange_timeframes(exchange_id)
print(f"Available timeframes for {exchange_id}: {timeframes}")

Available timeframes for bitget: ['1m', '3m', '5m', '15m', '30m', '1h', '2h', '4h', '6h', '12h', '1d', '3d', '1w', '1M']

In [9]:
import sys
from pathlib import Path

# Add the parent directory to the system path
parent_dir = Path().resolve().parent
sys.path.append(str(parent_dir))

# Example usage
exchange_id = "binance"
top_symbols = get_top_usdt_symbol_by_volume(exchange_id, top_n=100)

In [57]:
df_spot = pd.read_csv("/home/ubuntu/project/finance/cex-market-analysis/src/data/spot/bitget/1d/AAVE_USDT_1d.csv")
df_spot.head()

         date    open    high     low   close       volume
0  2024-12-01  211.65  214.66  202.76  209.27   47719.0284
1  2024-12-02  209.27  241.22  204.02  235.28  139085.5355
2  2024-12-03  235.28  249.03  221.83  240.30  130949.4053
3  2024-12-04  240.30  273.13  236.07  256.40  110474.8168
4  2024-12-05  256.40  266.75  240.47  247.69   89877.7099

In [56]:
df_future = pd.read_csv("/home/ubuntu/project/finance/cex-market-analysis/src/data/future/bitget/1d/AAVE_USDT_1d.csv")
df_future.head()

         date    open    high     low   close       volume
0  2024-12-01  211.65  214.66  202.76  209.27   47719.0284
1  2024-12-02  209.27  241.22  204.02  235.28  139085.5355
2  2024-12-03  235.28  249.03  221.83  240.30  130949.4053
3  2024-12-04  240.30  273.13  236.07  256.40  110474.8168
4  2024-12-05  256.40  266.75  240.47  247.69   89877.7099